<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="KLADR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="KLADR.Properties.Settings.dbconnect" connectionString="Data Source=SQLEXPRESS;Initial Catalog=kladr;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><applicationSettings>
        <KLADR.Properties.Settings>
            <setting name="tblKladrKladr" serializeAs="String">
                <value>[dbo].[tblKladrKladr]</value>
            </setting>
            <setting name="tblKladrDoma" serializeAs="String">
                <value>[dbo].[tblKladrDoma]</value>
            </setting>
            <setting name="tblKladrStreet" serializeAs="String">
                <value>[dbo].[tblKladrStreet]</value>
            </setting>
            <setting name="KladrDbf" serializeAs="String">
                <value>KLADR.DBF</value>
            </setting>
            <setting name="StreetDbf" serializeAs="String">
                <value>STREET.DBF</value>
            </setting>
            <setting name="DomaDbf" serializeAs="String">
                <value>DOMA.DBF</value>
            </setting>
            <setting name="BlockSize" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="DBF_Template" serializeAs="String">
                <value>Driver={{Microsoft dBase Driver (*.dbf)}};Locale Identifier=866;CollatingSequence=International;SourceType=DBF;SourceDB={0}\{1};Exclusive=No; Collate=Machine;NULL=NO;DELETED=NO;BACKGROUNDFETCH=NO;</value>
            </setting>
            <setting name="CpInEncoding" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="CpOutEncoding" serializeAs="String">
                <value>866</value>
            </setting>
        </KLADR.Properties.Settings>
    </applicationSettings>
</configuration>
